<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <nlog>
    <variable name="Layout" value="${longdate} ${level:upperCase=true} ${message} (${callsite:includSourcePath=true})"/>
    <variable name="LayoutSyslog" value="${message} (${callsite:includSourcePath=true})"/>

    <extensions>
      <add assembly="NLog.Targets.Syslog" />
    </extensions>
    
    <targets async="true">
      <target name="debugger" type="Debugger" layout="${Layout}" />
      <target name="console" type="ColoredConsole" layout="${Layout}"/>
      <target name="syslog" type="Syslog" syslogserver="127.0.0.1" port="514" facility="Local0" sender="MyProgram" layout="${LayoutSyslog}"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Trace" writeTo="console,debugger,syslog" />
    </rules>
  </nlog>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="NLog" publicKeyToken="5120e14c03d0593c" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>  
</configuration>